# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=path

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=created_db
MYSQL_USER=user_created_db
MYSQL_PASSWORD=pass_created_db